<h2>Upload file</h2>

<form [formGroup]="uploadFileForm" (ngSubmit)="onSubmit()">
<div class="form-group">
    <label for="file">Choose File</label>
    <input type="file" id="file" formControlName="uploadFileButton" (change)="handleFileInput($event.target.files)">
</div>
<div class="form-group">
    <label for="description">Description</label>
    <input type="text" id="description" formControlName="descriptionText">
</div>
<button class="button" type="submit">Upload</button>
</form>

<div *ngIf="isSuccess">
    File was uploaded!
</div>
<div *ngIf="isError">
    Error: {{errorMessage}}
</div>
<div *ngIf="isFileRequired">
    Error: File required
</div>